logs/*

framework/compiled.php
framework/config.php
framework/down
framework/events.scanned.php
framework/maintenance.php
framework/routes.php
framework/routes.scanned.php
framework/schedule-*
framework/services.json
framework/sessions/*
framework/testing/*
framework/views/*
framework/cache/*
framework/cache/data/*

!logs/.sync-exclude.lst
!framework/sessions/.sync-exclude.lst
!framework/testing/.sync-exclude.lst
!framework/views/.sync-exclude.lst
!framework/cache/.sync-exclude.lst
!framework/cache/data/.sync-exclude.lst