html {
    overflow-x: hidden;
}
textarea.form-control {
    height: auto;
}
.modal .modal-header .close {
    float: right;
}
.footer_style_3 .follow_us {
    z-index: 999999;
    position: relative;
}
.listing-wp {
    position: relative;
}
.listing_cate span.listing_like {
    margin-left: 10px;
}
.footer_widgets {
    position: relative;
}
.footer_bottom {
    position: relative;
}
.event_listing {
    position: relative;
}

input.btn.btn-block {
    width: 100%;
}
a.js-target-scroll:active {
    border-bottom: #38ccff solid 3px !important;
}
.list .footer_2 .follow_us {
    text-align: left;
}
.list .footer_2 .footer_bottom p {
    text-align: right;
}

@media only screen and (max-width: 479px) {
#dashboard .copyrights {
    text-align: center !important;
}
.footer_widgets {
    margin: 20px 0;
}

}